.title-ambassador {
    color: #61DFF2;
    text-align: center;
}
/* Contenedor general de las tarjetas de embajadores */
.container-ambassador-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    box-sizing: border-box;
    margin: 20px;
}
/* Contenedor de tarjeta individual */
.container-card {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 650px;
    background-color: #181d38;
    padding: 32px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(171, 170, 170, 0.5); 

}
/* Estilos generales de los títulos y subtítulos */
.h3-titles-subtitles{
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0;
    margin: 0;
    color: #fff;
    font-size: 16px;
}
/* Estilos de los párrafos generales */
.achievements-p {
    font-family: "Heebo", sans-serif;
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-align: justify;
}
/* Estilos generales para los íconos */
.styles-icons {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid #925C34; 
    box-sizing: border-box; 
}
/* Estilos del nombre del embajador */
.ambassador-name {
    text-align: start;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    margin: 8px 0;
    letter-spacing: 0;

}

/* Estilos parte superior */
.card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40%;
    gap: 16px;
    margin-bottom: 12px;
}
.card-profile-picture {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    height: 100%;
   
}
.card-profile-picture img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/2;
    border-radius: 50%;
    border: 8px solid #abaaaa; 
    object-fit: cover; 
}
.izquierda {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  
}
/* Efectos de hover */
.information-icons img:hover {
    transform: scale(1.2); 
}
.countries-flags img:hover {
    transform: scale(2.1); 
}
.information-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%; 
    padding: 0;
    
}
.title-symbols {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8px;
}
.english-validation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
/* Estilos del centro de la tarjeta */
.card-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
/* Estilos de la parte inferior de la tarjeta */
.card-bottom{
    width: 100%;
    gap: 8px;
    color: #fff;
}
.separator {
    width: 100%;
    height: 5px;
    background-color: #ffffff; 
    margin: 8px 0;
}
.container-flags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 8px;
    padding: 8px;
}
.container-flags h3 {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    font-size: 14px;
    white-space: wrap;
    letter-spacing: 0;
}
.countries-flags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 8px;
    width: 70%;
}
.countries-flags img {
    width: 2em;
    aspect-ratio: 2/1;
}
/* Media queries */
/* Pantallas medianas (500px a 600px) */
@media (max-width: 600px) and (min-width: 500px) {
    .container-card {
        width: auto;
        min-width: 450px;
        padding: 24px; 
    }  
    .card-profile-picture {
        height: 80%;
     }
    .ambassador-name {
        font-size: 20px;
    }
    .h3-titles-subtitles {
        font-size: 16px;
    }
    .achievements-p {
        font-size: 14px;
    }
    .styles-icons {
        width: 32px;
    }
    .container-flags h3 {
        font-size: 16px;
    }
    .countries-flags {
        align-items: center;
    }

    .countries-flags img {
        width: 1.8em;
        height: 2em;

    }
}
/* Pantallas pequeñas (300px a 499px) */
@media (max-width: 499px) and (min-width: 250px) {
    .container-card {
        width: auto;
        min-width: 300px;
        height: auto;
        padding: 16px;
        border-radius: 10px;
    }    
    .card-profile-picture {
       width: 125px; 
       height: 125px;
    }
    .card-center {
        justify-content: flex-start;
        gap: 8px;
    }
    .ambassador-name {
        font-size: 14px;
    }
    .h3-titles-subtitles {
        font-size: 12px;
    }
    .achievements-p {
        font-size: 10px;
    }
    .styles-icons {
        width: 24px;
    }
    .container-flags h3 {
        font-size: 12px;
    }
    .separator {
        height: 3px;
    }
    .card-profile-picture img {
        border: 3px solid #abaaaa;
    }
    .countries-flags {
        align-items: center;
    }

    .countries-flags img {
        width: 1em;
        height: 1.2em;
    }
}